{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="index" username="{{ username }}"></div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}